<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mongo Scraper: FFXIV Edition</title>
    <script src="https://kit.fontawesome.com/7c7585a38f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    {{!-- <link rel="stylesheet" href="../../public/css/styles.css"> --}}
</head>

<body>
    {{{body}}}
</body>
</html>